<template>
    <div>
        <input type="text" v-model="title">
        <button type="submit" v-on:click="onSubmit">Create</button>
    </div>
</template>

<script>
export default {
    data(){
        return{
            title: ''
        }
    },
    methods: {
        onSubmit(){
            if(this.title.trim()){
                const newTodo = {
                    id: Date.now(),
                    title: this.title,
                    completed: false
                }
                this.$emit('add-todo',newTodo);
                this.title = '';
            }
        }
    }
}
</script>